{% extends "layout.html" %} {% block content %}
<script type="text/javascript">
  function create(this) {
    document.user_form.action = "login.html";
    alert(document.user_form.action);
    return false;
  }

</script>
<div class="jumbotron">
  <div class="bs-component">
    <h1 class="display-4 mt-4">Create New S3 User</h1>
      <hr class="my-4">
      <div class="container">
        <h5 class="alert alert-warning" role="alert" style="text-align: center">(Username must be alphanumeric!)</h5>
        <form action="" method="post">
          <fieldset>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group row" id="number_colors">
              <h5><label class="col col-form-label" for="name">S3 Username</label></h5> <div class="col">{{ form.name(class="col col-form-label") }}</div>
              {% for error in form.name.errors %} <div class="alert alert-danger">{{ error }}</div> {% endfor %}
            </div>
            </div>
          {{ form.submit( class="btn btn-primary btn-sm btn-block")}}
          </fieldset>
      </div>
  </div>
</div>
{% endblock %}
